body {
  font-family: Kanit;
}
.App {
  display: flex;
  flex-direction: column;
}
.container {
  margin-left: 118px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}
h2 {
  margin-bottom: 46px;
}
h1 {
  width: 1000px;
  height: 180px;
  color: #074EE8;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  margin-left: 118px;
  align-items: center;
  border-bottom: 1px solid black;
}
button {
  cursor: pointer;
}
span {
  font-size: 20px;
}
.btn {
  width: 330.97px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button-components-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.alert-components-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}
img {
  margin: 26px 15px 26px 20px;
}